<!DOCTYPE html>
<html>
<head>
    <title>Survey Online</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'A2/style1.css' %}" />
</head>

<body>

  <form name="delete" method="POST" action="/">
      <br>
      <table name="table_delete" border="1">
      <tr><td>Question</td><td>Delete</td></tr>
      {% for question in questions %}

      <tr><td>{{ forloop.counter }}: {{ question.question }} at {{ question.pub_date }} </td>
      <td><input type="checkbox" value={{ question.id }} name="deleted" ></td></tr>

      <tr><td><input type="radio" id="radio1" value={{ question.answer1 }} name={{ question.question }}>a: {{ question.answer1 }}
      <p>
      <input type="radio" id="radio2" value={{ question.answer2 }} name={{ question.question }}>b: {{ question.answer2 }}</td>
      {% endfor %}
      </table>
      <br>
      <input type="submit" id="id_delete" value="Delete" name="delete">
      {% csrf_token %}
    </form>

</body>
</html>
