<!DOCTYPE html>
<html>
<head>
    <title>Survey Online</title>
</head>

<body>
  <form method="POST">
      Question:<input name="q_text" id="id_q_text" placeholder="add Question"/>
      Answer:<input name="a_text" id="id_a_text" placeholder="add Answer"/>
      Answer:<input name="a2_text" id="id_a2_text" placeholder="add Answer"/>
      <input type="submit" id="id_add_qa" name="add_qa" value="Submit">
      {% csrf_token %}
  </form>

      <h1>Question</h1> 
      Time Now : {{ t }}
      <br><br>
      <form name="sorting" method="POST" action="/">
      Sorting : 
        <input type="submit" id="id_last_day" value="last 10 Minutes" name="tenmins">
        <input type="submit" id="id_last_day" value="Today" name="today">
        <input type="submit" id="id_last_day" value="Week" name="week">
        <input type="submit" id="id_last_day" value="Month" name="month">
        <input type="submit" id="id_last_day" value="Year" name="year">
        {% csrf_token %}
            <br>
      </form>     
    <form name="show_Q" method="POST" action="/Delete/">
      If you want to delete Question please Click a Button : 
      <input type="submit" id="id_delete_from_home" value="Delete" name="delete">
      {% csrf_token %}
    </form>

    <form name="show_Q" method="POST" action="/ShowResult/">
      <br>
      <table name="form_QA" border="1">
      <tr><td>Question</td></tr>
      {% for question in questions %}

      <tr><td>{{ forloop.counter }}: {{ question.question }} at {{ question.pub_date }} </td>

      <tr><td><input type="radio" id="radio1" value={{ question.answer1 }} name={{ question.question }}>a: {{ question.answer1 }}
      <p>
      <input type="radio" id="radio2" value={{ question.answer2 }} name={{ question.question }}>b: {{ question.answer2 }}</td>
      {% endfor %}
      </table>
      <br>
      <input type="submit" id="idsubmit" value="Submit" name="submit">
      <!--  onclick="location.href='/ShowResult/'" -->
      {% csrf_token %}
    </form>
</body>
<script type="text/javascript">
  function chkNumber(q){
      //if (len(q) == 0)
      return alert("55");
  }
</script>
</html>
