<!DOCTYPE html>
<html>
    <head>
        <title>Survey Online</title>
    </head>
    <body>
      <h1><u>Question : Answer</u></h1>
      
      <br>
      <br>
      {% for q_a in QandA %}
        {{ q_a.question }} :  You Choose "{{ q_a.ans }}" 
        <br> 
        Total Choose Answer A: {{q_a.n1}}, Choose Answer B: {{q_a.n2}}
        <br>
        <br>
      {% endfor %}
      <br>

    </body>
</html>
